<!DOCTYPE html>
<html lang="hi" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>

    {% include header.html %}

    <main itemprop="mainContentOfPage">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>
</html>
